body {
    background-color:bisque;
    text-align: center;
    font-family: Arial, cursive;
        color: #333;
        line-height: 1.8;}
    nav ul li {
        display: inline;
        margin-right: 20px;
        text-align: center;

    }
    